
/* CSS do Login e do Register */

body{
	background-image: url('https://media.giphy.com/media/fVY0d5fm6UnPG/giphy.gif');
    background-size: cover;
}
#frm_base{
	border: 1px solid red;
	width: 80%;
	border-radius: 10px;
	margin: 0 auto;
	background: white;
	padding: 50px;	
}

#table_base{
	width:100%;
}

#div_contatos{
	position: absolute;
    top: 20%;
    left: 60%;
    width: 30%;
    height: 70%;
}

#login_btn{
	color: white;
	background: green;
	padding: 5px;
	width: 100%;
	text-align: center;
}

#register_btn{
	color: white;
	background: blue;
	padding: 5px;
	width: 100%;
	text-align: center;
}

#backlog_btn{
	color: white;
	background: green;
	padding: 5px;
	width: 100%;
	text-align: center;
}

.slider {
	display:block;
	height:293px;
	width:600px;
	margin-top 20px;
	position: relative;
}

.slider li{
	list-style: nome;
	position: absolute;
}

.slider img{
	margin: auto;
	height: 100%;
	width: 100%;
	vertical-align: top;
}

.slider input{
	dispay: none;
}

.slider label {
	background-color: #000;
	bottom: 10px;
	cursor: pointer;
	display: block;
	height: 10px;
	position: absolute;
	width: 10px;
	z-index: 10;
}

.slider li:nth-child(1) label{
	left: 10px;
}

.slider li:nth-child(2) label{
	left: 40px;
}

.slider li:nth-child(3) label{
	left: 70px;
}

.slider li:nth-child(4) label{
	left: 100px;
}

.slider li:nth-child(5) label{
	left: 130px;
}

.slider li:nth-child(6) label{
	left: 160px;
}

.slider li:nth-child(7) label{
	left: 190px;
}

.slider li:nth-child(8) label{
	left: 220px;
}

.slider img{
	opacity 0;
	visibility: hidden;
}

.slider li input:checked ~ img{
	opacity: 1;
	visibility: visible;
	z-index: 10;
}

.alinhar_direita{
	text-align: right;
}

.padding_top{
	padding-top: 30px;
}

.frm_log_resg{
	width: 20% !important;
}

/* Menu */

.menu-bar {
    position: absolute;
    top: 20px;    
    left: 50%;
    height: 14px;
    margin-left: -10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;    
    background-color: #333;
    box-shadow: 0 5px 0 #333, 0 10px 0 #333;
}

.menu {
    display: none; 
    width: 100%;
    padding: 30px 10px 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}
.menu ul {
    margin-bottom: 0;
}
.menu a {
    color: #333; 
    text-transform: uppercase;
    opacity: 0.8;
}
.menu a:hover {
    text-decoration: none;
    opacity: 1;
}